@model Order
@{
    var total = @Model.Lines.Sum(c => c.Product.Price * c.Quantity);
}

<div class="row shadow my-3">
    <div class="col-md-3 border-1 border-dark p-3 bg-light shadow text-center">
        <h5 class="display-5">
            <i class="fa fa-user"></i>
            <br>
            @Model?.Name
        </h5>
        <p>@Model?.City</p>
        <p>@Model?.County</p>
        <p>@Model?.Address</p>
        <p>@Model?.StreetAddress</p>
        <p class="d-flex justify-content-center align-items-center flex-column flex-lg-row p-2">
            <span class="bg-info p-2 rounded-2 flex-shrink-0">
                Shipped
            </span>
            <span class="p-2 rounded-2 mt-2 mt-lg-0 ms-lg-2 flex-grow-1 @(Model.Shipped ? "bg-success" : "bg-warning")">
                @(Model.Shipped ? "Completed" : "In Progress")
            </span>
        </p>


    </div>
    <div class="col-md-9 d-flex flex-column justify-content-lg-between">
        <h6 class="display-6 mt-3 text-center">
            Cart
        </h6>
        <ul class="list-group">
            @foreach (var cartItem in Model?.Lines)
            {
            <li class="list-group-item d-flex justify-content-between brand">
                <b>@cartItem.Product.ProductName</b>
                <span>@cartItem.Quantity * @cartItem.Product.Price.ToString("c2")
                    = <b>@((cartItem.Quantity * cartItem.Product.Price).ToString("c2"))</b>
                </span>
            </li>
            }
            <li class="list-group-item d-flex justify-content-between text-bg-danger">
                <b>Total</b>
                <b>@total.ToString("c2")</b>
            </li>
        </ul>
        <div class="text-center mt-2 p-2">
            <form method="post" asp-action="Complete">
                <input type="hidden" name="id" value="@Model.OrderId" />
                <button type="submit" class="btn btn-primary" disabled="@Model?.Shipped" >Complete</button>
            </form>
        </div>
    </div>
</div>